.m4d-result-specs {
	margin: 10px 0 25px;
	
	float: left;
	width: 100%;
	
	@include desktop {
		width: 100%;
		margin: 0;
		height: 145px;
	}

	li {
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: auto;
		width: 100%;
		margin: 0 !important;
		line-height: 1.5;


		@include desktop {
			text-align: center;
			width: 20%;
			margin: 0 2.5%;
		}

		&:first-child {
			margin-left: 0;
		}

		&:before {
			display: inline-block;
			margin: 0 !important;
			margin-right: 5px !important;
			font-size: 26px;
			line-height: 0.9;
			
			@include desktop {
				text-align: center;		
				height: $icon-width;	
				width: 100%;
				font-size: 72px;
			}
		}

		&.icon-fuel {
			&:before{
				font-size: 18px;
				line-height: 1.2;
				padding: 0 3px 6px 5px;

				@include desktop {
					font-size: 52px;
					line-height: 1.25;
				}		
			}
			
		}
	}

	// &.m4d-specs-group-of-5,
	// &.m4d-specs-group-of-6,
	// &.m4d-specs-group-of-7,
	// &.m4d-specs-group-of-8 {
	// 	li {
	// 		@include tablet {
	// 			text-align: left;
	// 			width: 50%;
	// 			margin: 0;
	// 			padding-left: 0;
	// 			line-height: #{$icon-width / 2 };
	// 		}

	// 		&:before {
	// 			@include tablet {
	// 				text-align: left;		
	// 				height: auto;	
	// 				width: auto;
	// 				font-size: 32px;
	// 			}
	// 		}
	// 	}
}