.tabs {

}

.tabs-navigation {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid $color-stroke-primary;
}

.tabs-menu {
	display: inline-block;
	margin-bottom: -1px;
	padding: 0;
}

.tabs-menu-item {
	text-align: center;
	display: inline-block;
}

.tabs-menu-item a {
	padding: 7px 30px;
	display: inline-block;
	background: $color-dark;
	color: $color-text-secondary;
	border: 1px solid $color-stroke-primary;
	border-bottom: 0;
	margin-right: -1px
}

.tabs-menu-item.is-active a, .tabs-menu-item a:hover {
	color: $color-dark;
	background: $color-gray-tertiary;
}

.tab-panel {
	padding: 10px 30px;
	border: 1px solid $color-stroke-primary;
	border-top: 0;
	background: $color-gray-tertiary;
}
