.m4d-icon:before{display:inline-block;content:''}
@font-face{font-family:m4d-icons;src:url(/styles/font/m4d-icons.eot?3179539);src:url(/styles/font/m4d-icons.eot?3179539#iefix) format('embedded-opentype'),url(/styles/font/m4d-icons.woff?3179539) format('woff'),url(/styles/font/m4d-icons.ttf?3179539) format('truetype'),url(/styles/font/m4d-icons.svg?3179539#m4d-icons) format('svg');font-weight:400;font-style:normal}
[class*=" icon-"]:before,[class^=icon-]:before{font-family:m4d-icons;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em}
.icon-cancel:before{content:"\e801"}
.icon-right-open:before{content:"\e802"}
.icon-left-open:before{content:"\e803"}
.icon-search:before{content:"\e804"}
.icon-down-dir:before{content:"\e806"}
.icon-cog:before{content:"\e807"}
.icon-up-dir:before{content:"\e808"}
.icon-arrow-combo:before{content:"\e809"}
.icon-calendar:before{content:"\e600"}
.icon-parking:before{content:"\e601"}
.icon-body:before{content:"\e602"}
.icon-engine3:before{content:"\e603"}
.icon-engine4:before{content:"\e604"}
.icon-engine:before{content:"\e606"}
.icon-gearbox:before{content:"\e607"}
.icon-odometer1:before{content:"\e805"}
.icon-odometer2:before{content:"\e608"}
.icon-odometer:before{content:"\e609"}
.icon-tires:before{content:"\e60a"}
.icon-wheel:before{content:"\e60b"}
.icon-petrol2:before{content:"\e605"}
.icon-fuel:before{content:"\e800"}
.image-gallery{overflow:hidden;width:100%;position:relative}
.image-gallery *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.image-gallery img{width:100%;display:inline-block}
.image-gallery .zoom{width:85%;margin:0 auto}
@media (min-width:768px){.image-gallery .zoom{width:100%;margin:0}}
.image-gallery .zoom img{width:100%}
.image-gallery .carousel~.carousel{margin-top:25px;display:inline-block}
.image-gallery .carousel .thumb{width:120px}