* {
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

body {
	font-family: $default-font-family;
   	font-size: $default-font-size;
   	font-weight: 400;

   	@include breakpoints-for-javascript;
}

h1, h2, h3 {
	font-weight: 700;
}
