%arrows {
	@include transition(all, .25s, ease-in);
	@include opacity(.4);
	position: absolute;
	z-index: 2;
	top: 20px;
	font-family: "m4d-icons";
	background: none;
	border: 0;
	font-size: 32px;
	cursor: pointer;

	&:hover {
		@include opacity(1);
	}

	&.control-disabled {
		@include opacity(0);
		cursor: inherit;
	}

	&.control-left {
		left: 0;
		&:before {
			content: '\e803';
		}
	}

	&.control-right {
		right: 0;
		&:before {
			content: '\e802';
		}
	}
}

.carousel {
	// only applying box sizing inside the plugin so it won't break any style
	* {
		-webkit-box-sizing: border-box;
	  	-moz-box-sizing: border-box;
	  	box-sizing: border-box;
	}

	position: relative;
	width: 100%;

	img {
		width: 100%;
		display: inline-block;
	}

	.carousel {
		position: relative;
	}

	.control-arrow {
		@extend %arrows;
		top: 50%;
		margin-top: -13px;
		font-size: 18px;
	}

	.thumbs-wrapper {
		margin: 20px;
		overflow: hidden;
	}

	.thumbs {
		@include transition(all, .15s, ease-in);
		// activate hardware accelerated animations using translate property
		@include enhanceAnimations();
		position: relative;
		list-style: none;
		white-space: nowrap;
	}

	.thumb {
		@include transition(border, .15s, ease-in);
		display: inline-block;
		width: 80px;
		margin-right: 6px;
		white-space: nowrap;
		overflow: hidden;
		border: 3px solid #fff;
		padding: 2px;

		&.selected, &:hover {
			border: 3px solid $color-primary;
			padding: 2px;
		}

		img {
			vertical-align: top;
		}
	}

	&.carousel-slider {
		position: relative;
		margin: 0;
		overflow: hidden;

		li {
			@include tablet {
				cursor: -webkit-zoom-in;
			}
		}

		// adjusting the arrows for the slider
		.control-arrow {
			@extend %arrows;
			top: 0;
			color: #fff;
			font-size: 26px;
			bottom: 0;
			margin-top: 0;
			padding: 5px;

			&:hover {
				background: rgba(#000, .2);
			}
			
		}
	}

	.slider-wrapper {
		overflow: hidden;
		margin: auto;
		width: 100%;
	}

	.slider {
		display: flex;
		position: relative;
		list-style: none;

		&.animated {
			@include transition(all, .35s, ease-in-out);
			// activate hardware accelerated animations using translate property
			@include enhanceAnimations();
		}
	}

	.slide {
		flex-direction: column;
		flex-flow: column;
		min-width: 100%;
		margin: 0;

		img {
			width: 100%;
			vertical-align: top;
		}
	}

	.control-dots {
		position: absolute;
		bottom: 0;
		margin: 10px 0;
		text-align: center;
		width: 100%;

		.dot {
			@include transition(opacity, .25s, ease-in);
			@include opacity(.3);
			box-shadow: 1px 1px 2px rgba(#000, .9);
			background: #fff;
			border-radius: 50%;
			width: 8px;
			height: 8px;
			cursor: pointer;
			display: inline-block;
			margin: 0 8px;

			&.selected, &:hover {
				@include opacity(1);
			}
		}
	}

	.carousel-status {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px;
		font-size: 10px;
		text-shadow: 1px 1px 1px rgba(#000, .9);
		color: #fff;
	}
}

