.image-gallery {
	* {
		-webkit-box-sizing: border-box;
	  	-moz-box-sizing: border-box;
	  	box-sizing: border-box;
	}
	
	overflow: hidden;
	width: 100%;
	position: relative;
	
	img {
		width: 100%;
		display: inline-block;
	}

	.zoom {
		width: 85%;
		margin: 0 auto;
		
		@include tablet {
			width: 100%;
			margin: 0;
		}

		img {
			width: 100%;
		}
	}

	.carousel ~ .carousel {
		margin-top: 25px;
		display: inline-block;
	}

	.carousel {
		.thumb {
			width: 120px;
		}
	}
}