// // basic imports
@import "styles/variables";
@import "styles/mixins/gradients";
@import "styles/mixins/breakpoints";
@import "styles/mixins/animation";
@import "styles/mixins/utils";

// // resets, body, etc
@import "styles/defaults";

// // buttons, form inputs, etc...
@import "styles/elements";

%demo-box {
	margin: 50px auto;
}

.demo-gallery {
	@extend %demo-box;

	.thumb {
		width: 200px;
	}
}

.demo-slider {
	@extend %demo-box;
}

.demo-carousel {
	@extend %demo-box;
	width: 100%;
	margin: 30px auto!important;
	.thumb {
		width: 120px;
	}
}

.example {
	margin: 20px 0;
}

.parent {
	background: #333;
}

.page-carousel {
	padding: 40px;
	border: 1px solid #fff;
	width: 80%;
	margin: 40px auto;
}

h5 {
	margin-bottom: 10px;
}

.presentation-mode {
	.my-slide {
		display: flex;
		align-items: center;
	  	justify-content: center;
	  	text-align: center;
		height: 100vh;
		padding: 40px;
		line-height: 1.5;
		font-size: 2em;

		h1, h2, h3, h4, h5, h6, p {
			border: 0;
			margin: 0 auto;
			padding: 0;
			color: #f5f5f5;
		}

		strong, em {
			color: #D6D600;
		}

		&.primary {
			background-color: #000099;
		}

		&.secondary {
			background-color: #4D0099;
		}

		&.content {
			background-color: #004D99;
		}
	}
}
