/*  Vertical gradient
========================================================================== */
@mixin simple-vertical-gradient($startColor, $endColor) {
    background-color: $startColor;
    background: -webkit-linear-gradient(top, $startColor, $endColor);
    background:         linear-gradient(to bottom, $startColor, $endColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
}

@mixin vertical-gradient($bgColor, $colors...) {
    background: -webkit-linear-gradient(top, $colors) $bgColor;
    background:         linear-gradient(to bottom, $colors) $bgColor;
}

/*  Horizontal Gradient
========================================================================== */
@mixin simple-horizontal-gradient($startColor, $endColor) {
    background-color: $startColor;
    background: -webkit-linear-gradient(left, $startColor, $endColor);
    background:         linear-gradient(to right, $startColor, $endColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
}

@mixin horizontal-gradient($bgColor, $colors...) {
    background: -webkit-linear-gradient(left, $colors) $bgColor;
    background:         linear-gradient(to right, $colors) $bgColor;
}