/********************************************
	BREAKPOINT WIDTHS
********************************************/
/********************************************
	FONTS
********************************************/
/********************************************
	COLOURS
********************************************/
/*  Vertical gradient
========================================================================== */
/*  Horizontal Gradient
========================================================================== */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333; }

h1, h2, h3, h4 {
  font-weight: 700;
  margin: 20px 0; }

h1 {
  font-weight: 700;
  font-size: 2.5em; }

h2 {
  border-top: 1px solid #999;
  padding-top: 40px;
  margin-top: 40px;
  font-size: 2em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.1em;
  margin-bottom: 10px; }

code {
  border-radius: 20px;
  background: #f5f5f5;
  padding: 20px;
  text-indent: 0;
  color: #333;
  display: block;
  margin: auto;
  overflow: scroll;
  width: 100%; }

.wrapper {
  padding: 30px; }
  .wrapper .demo-gallery, .wrapper .demo-slider, .wrapper .demo-carousel {
    margin: 30px -30px; }
  .wrapper .demo {
    display: block;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #333; }
    .wrapper .demo:last-child {
      border-bottom: 0; }

.list-items, .summary {
  margin-left: 50px; }
  .list-items li, .summary li {
    line-height: 2;
    list-style-type: circle; }
    .list-items li ul, .summary li ul {
      margin-left: 30px; }

.m4d-icon:before {
  display: inline-block;
  content: ''; }

/********************************************
	ICON SET DOWNLOADED FROM FONT ELLO
********************************************/
@font-face {
  font-family: 'm4d-icons';
  src: url('/styles/font/m4d-icons.eot?3179539');
  src: url('/styles/font/m4d-icons.eot?3179539#iefix') format('embedded-opentype'), url('/styles/font/m4d-icons.woff?3179539') format('woff'), url('/styles/font/m4d-icons.ttf?3179539') format('truetype'), url('/styles/font/m4d-icons.svg?3179539#m4d-icons') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'm4d-icons';
    src: url('font/m4d-icons.svg?3179539#m4d-icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "m4d-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-right-open:before {
  content: "\e802"; }

.icon-left-open:before {
  content: "\e803"; }

button {
  outline: 0;
  border: 0;
  background: none; }

.demo-gallery, .demo-slider, .demo-carousel {
  margin: 50px auto; }

.demo-gallery .thumb {
  width: 200px; }

.demo-carousel {
  width: 100%;
  margin: 30px auto !important; }
  .demo-carousel .thumb {
    width: 120px; }

.example {
  margin: 20px 0; }

h5 {
  margin-bottom: 10px; }
